/* 웹폰트: 영문(Noto Sans), 한글(Noto Sans KR) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* Color styles */
  --white: rgba(255, 255, 255, 1);
  --pink: rgba(255, 45, 85, 1);
  --light--red: rgba(255, 59, 48, 1);
  --red: rgba(254, 0, 0, 1);
  --light--blue: rgba(28, 170, 231, 1);
  --blue: rgba(23, 120, 232, 1);
  --purple: rgba(88, 86, 214, 1);
  --light--gray: rgba(199, 199, 204, 1);
  --gray: rgba(142, 142, 147, 1);
  --light--black: rgba(33, 33, 33, 1);
  --black: rgba(0, 0, 0, 1);
  /* Text-size styles */
  --h1: 36px;
  --h2: 24px;
  --h3: 18px;
  --h4: 16px;
  --body: 14px;
  --button: 14px;
  --caption-1: 12px;
  --caption-2: 12px;
}
/* 공통디자인: 마진/패딩 0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
    font-family: "Noto Sans", "Noto Sans KR", serif;
  }